<!DOCTYPE html>
<html>
	<head>
		<title>ALBanque - Connexion</title>
		<meta charset="utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/login_style.css">		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		<script type="text/javascript" src="../static/js/login.js"></script>
	</head>

	<body>
		<div id="login_page" class="login-page">
  		<div class="form">  
		    <form class="login-form" method="POST" action="" onsubmit="return submitLogin();">
		    	<h1>Se connecter</h1>		    	
		    	<p id="error_div">Nom d'utilisateur ou mot de passe incorrect</p>
      			<input id="login"  type="text" placeholder="Nom d'utilisateur"/>
      			<input id="password" type="password" placeholder="Mot de passe"/>
      			<button id ="sign_in" type="submit" >Connexion</button>
      			
      			
    		</form>
    		<button id="create_account" >Créer un compte
      			<i class="material-icons">add_box</i></button>
 		</div>
		</div>
		
	</body>

</html>